<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/promanager</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <mapping class="entity.BackupEntity"/>
        <mapping class="entity.EmployeeEntity"/>
        <mapping class="entity.EquipmentEntity"/>
        <mapping class="entity.SoftwareEntity"/>
        <mapping class="entity.SoftwareRecordEntity"/>
        <mapping class="entity.Backup"/>
        <mapping class="entity.Employee"/>
        <mapping class="entity.Equipment"/>
        <mapping class="entity.Software"/>
        <mapping class="entity.SoftwareRecord"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>